* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
        sans-serif;
}

body {
    background-image: linear-gradient(#726d6d 1px, transparent 1px),
        linear-gradient(to right, #726d6d 1px, transparent 1px);
    background-size: 32px 32px;
    background-color: #404040;
    height: 100vh;
}

/* Header */

.head-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0px;
}

.head-container .logo {
    margin: 15px;
}

.logo-container a {
    text-decoration: none;
    color: #f3efe0;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
}

/* Players */

.players-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 100px;
    color: #f3efe0;
}

.players-container p {
    font-size: 40px;
}

.players-container .player img,
.computer img {
    width: 280px;
    height: 280px;
}

.score {
    width: fit-content;
    margin: auto;
}

.result {
    width: 200px;
    font-size: 30px;
    position: relative;
    bottom: 80px;
    text-align: center;
}

.buttons-container {
    width: fit-content;
    margin: auto;
}

.buttons-container button {
    height: 100px;
    width: 100px;
    cursor: pointer;
    margin: 0 20px;
    border-radius: 50px;
    border: 5px solid;
}

.buttons-container button:hover {
    border-color: #1c315e;
}

.copyrights a {
    position: absolute;
    bottom: 0;
    color: #f3efe0;
}
